/* 
    Document   : main
    Created on : Nov 6, 2013, 12:14:54 AM
    Author     : Ariful
    Description:
        Purpose of the stylesheet follows.
*/

.body-bg{
    background: url("../img/blue_maze-wallpaper2.jpg") center center transparent;
}

.icon-img{
    display: block;
    margin: 0 auto;
    max-width: 256px;
    width: 100%;
}