<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.unlock.briefcase.password" android:versionCode="1"
	android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
 <uses-permission android:name="android.permission.WAKE_LOCK" />
 <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	 <uses-sdk
        android:minSdkVersion="5"
        />
	<application android:icon="@drawable/icon" android:theme="@style/app_theme" android:label="@string/app_name">	
		<activity android:name="com.unlock.briefcase.password.TabSample" android:label="@string/app_name"
		    android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>		
		<activity android:name="ArrowsActivity"/>		
		<activity android:name="GiftActivity"/>	
		<activity android:name="OptionsActivity" />
	<!--  <activity
            android:configChanges="orientation"
            android:name="com.sponsorpay.sdk.android.publisher.ofw.OfferWallActivity" />
		
        <activity 
            android:configChanges="screenSize|orientation"
            android:name="com.sponsorpay.sdk.android.publisher.mbe.SPBrandEngageActivity"
            android:hardwareAccelerated="true"/>	 -->
           <!--    <activity android:name="com.google.ads.AdActivity"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"  />
   --> <service android:name="com.ironsource.mobilcore.MobileCoreReport"
android:enabled="true" android:exported="false"
android:process=":mcServiceProcess"/>
<receiver android:name="com.ironsource.mobilcore.InstallationTracker"
android:enabled="true" android:process=":installationTracker"/> 
	</application>
	
</manifest> 