/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2013, 8:11:55 PM
    Author     : Ariful Haque
*/
@font-face {
    font-family: 'pt-san-narrow';
    src: url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'pt-san-narrow-bold';
    src: url('../fonts/PT_Sans-Narrow-Web-Bold.ttf') format('truetype');
}

.body-bg {
    background: url("../images/usethisasbacground.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ui-btn {
    margin: 5px 0 !important;
}
.ui-btn-up-a:hover {
    background: linear-gradient(#555555, #383838) repeat scroll 0 0 #444444;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #111111;
    text-decoration: none;
}
table.common-style {
    background: #eee;
    border-collapse: collapse;
    border: 1px solid #456F9A;
    font-size: 13px;
    font-weight: normal;
    margin: 0 auto;
    width: 100%;
}
table.common-style th {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}
table.common-style td {
    border: 1px solid #456F9A;
    padding: 2px 5px;
}
table.common-style thead th,
table.common-style thead td{
    font-weight: bold; 
}
table.common-style#t1s td{
    padding: 2px;
}
table.common-style#t1s td.srl,
table.common-style#t1s td.d{
    text-align: center;
}
#counttimerx{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}
.days{
    font-size:60%;
    margin-right:0.3em;
}
.center-text{
    text-align: center;
}
.icon-img {
    display: block;
    margin: 15px auto;
    max-width: 150px;
    width: 100%;
}
@media handheld, only screen and (max-width: 360px) {
    .ui-content {
        padding: 3px;
    }
}
@media handheld, only screen and (max-width: 320px) {
    #counttimerx{
        font-size: 22px;
    }
}

