<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lilait.movie.story.spoiler"
      android:versionCode="5"
      android:versionName="4.2">
      <uses-sdk android:minSdkVersion="5" />
     
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" /> 

    <!--
        Sets the application's user-readable label
     -->
    <application android:label="@string/app_name"
        android:icon="@drawable/icon" 
       android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      >
        <!--
            Sets the activity's name and label
         -->
            <activity
            android:name="com.lilait.movie.story.spoiler.Mainwindowactivity"
            android:label="@string/app_name"
            android:icon="@drawable/icon"
          
           
         >
              
        </activity>
          <activity
            android:name="com.lilait.movie.story.spoiler.Listwindowactivity"
            android:label="@string/app_name"
            android:icon="@drawable/icon"
            
            
         ></activity>
            <activity
            android:name="com.lilakhelait.kishor.helper.service.StackParser"
            android:label="@string/app_name"
            android:icon="@drawable/icon"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           
            
         </activity>     <activity
            android:name="com.lilakhelait.kishor.helper.service.ReviewParser"
            android:label="@string/app_name"
            android:icon="@drawable/icon"
            android:screenOrientation="portrait"
            
            
         ></activity>
             <activity android:name="com.lilait.movie.story.spoiler.MyAndroidAppActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
              >
         
        </activity>
        <activity android:name="com.lilait.movie.story.spoiler.CitiesActivity"  android:screenOrientation="portrait" ></activity>
        <activity android:name="com.lilait.movie.story.spoiler.SecondActivityGroup" android:screenOrientation="portrait"></activity>
        <activity android:name="com.lilait.movie.story.spoiler.FirstGroup" android:screenOrientation="portrait"></activity>
        <activity android:name="com.lilait.movie.story.spoiler.ShowCity" android:screenOrientation="portrait"></activity>
         <activity android:name="com.lilait.movie.story.spoiler.Searchbyname" android:screenOrientation="portrait"></activity>
          <activity android:name="com.lilait.movie.story.spoiler.NewMovies" android:screenOrientation="portrait"></activity>
    <activity android:name="com.google.ads.AdActivity"
           
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"  />
        </application>
    <!--
        Requires a minimum platform version of Android-3 (SDK 1.5) to run
    -->
   

</manifest>
