<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siliconorchard.com.ecoupon.cards.free"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Savings2phone"
        android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.siliconorchard.com.ecoupon.cards.free.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Login"
            android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar" >
        </activity>
          <activity
            android:name="com.siliconorchard.com.ecoupon.cards.free.SignupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Sign Up"
            android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="com.siliconorchard.com.ecoupon.cards.free.ListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Home " >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.siliconorchard.com.ecoupon.cards.free.VendorListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Back" >
        </activity>
           <activity
            android:name="com.siliconorchard.com.ecoupon.cards.free.OfferListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Back" >
        </activity>
         <activity
            android:name="com.siliconorchard.com.ecoupon.cards.free.CouponActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Back" >
        </activity>
        <activity
            android:name="com.siliconorchard.com.ecoupon.cards.free.Mapactivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
           >
        </activity>
   <activity
            android:name="info.androidhive.slidingmenu.MapactivityFragment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
           >
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDiq0J5vqCoh8mzUqO1y67ywYAiK_JxlKg" />
    </application>

</manifest>